/* Pagination Style starts */
.pagination_container {
    display: flex;
    list-style-type: none;
}

.pagination_container .pagination_item {
    padding: 0 12px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 4px;
    color: #253237;
    border-radius: 50%;
    font-size: 13px;
    width: 32px;
}

.pagination_container .pagination_item.dots:hover {
    background-color: transparent;
    cursor: default;
}

.pagination_container .pagination_item:hover {
    background-color: rgba(0, 0, 0, 0.04);
    cursor: pointer;
}

.pagination_container .pagination_item.selected {
    background-color: #1976d2;
    color: #ffff;
}

.pagination_container .pagination_item.disabled {
    pointer-events: none;
    color: grey;
}

.pagination_container .pagination_item.disabled:hover {
    background-color: transparent;
    cursor: default;
    color: grey;
}

.dots_icon {
    pointer-events: none;
}

.card_title {
    max-width: 270px;
    /* text truncate */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

ul {
    justify-content: center;
}

.full_card {
    min-height: 215px;
}

/*  Pagination Style Ends */